<Sentence> ::= <NounGroup> <VerbGroup> `.`|<Hs> <Noun> <VerbGroup> `?`

<NounGroup> ::= <NounH>|<PronounH>

<NounH> ::= <Adjective> <Noun> <Hs>|<Noun> <Hs>

<PronounH> ::= <PronounWithHas> <Hs>|<PronounWithHave> <Hv>

<Hs> ::= `has`|`has not`

<Hv> ::= `have`|`have not`

<PronounWithHas> ::= `it`|`she`|`he`

<PronounWithHave> ::= `i`|`you`|`we`|`they`

<Noun> ::= <Name>|<PeopleWord>

<Name> ::= `Alexey`|`Mikhail`|`Vadim`|`Dmitry`|`Sergey`|`Vladimir`|`Alexandr`

<PeopleWord> ::= `man`|`woman`|`boy`|`girl`|`dad`|`mom`|`brother`|`sister`

<Adjective> ::= `cool`|`strong`|`clever`|`dark`|`large`

<VerbGroup> ::= <MarkerBeforeVerb> <Verb>|<Verb> <MarkerInTheEnd>

<MarkerBeforeVerb> ::= `ever`|`never`|`just`|`already`

<Verb> ::= `run`|`studied` <CourseName>|`did` <Action>|`felt` <Feeling>

<CourseName> ::= `math`|`informatics`|`programming`|`physics`

<Action> ::= `repairs`|`hometask`|`dinner`|`writes`

<Feeling> ::= `excellent`|`tired`|`happy`|`proud`

<MarkerInTheEnd> ::= `yet`|`recently`|`so far`|`lately`|`before`|`till now`|`not yet`|`since` <Year>|`for` <TimePeriod>

<Year> ::= `2000`|`2001`|`2020`|`2023`

<TimePeriod> ::= <Numbers> <Times>|<Time>

<Numbers> ::= <Number><Numbers>

<Number> ::= `0`|`1`|`2`|`3`|`4`|`5`|`6`|`7`|`8`|`9`

<Time> ::= `age`|`week`|`year`|`hour`|`minute`|`day`

<Times> ::= <Time>`s`