<Sentence> ::= <NounGroup><Whitespace><VerbGroup><Conditions>`.`|<Question><Whitespace><VerbGroup><Conditions>`?`

<Conditions> ::= <Preposition><Whitespace><Noun>|<Empty>

<Preposition> ::= `by`|`with`|`for`

<Question> ::= <Hs><Whitespace><QuestionNoun>|<Hv><Whitespace><PronounWithHave>

<QuestionNoun> ::= <Noun>

<NounGroup> ::= <NounH>|<PronounH>

<NounH> ::= <Noun><Whitespace><Hs>|<Noun><Whitespace><Hs>

<PronounH> ::= <PronounWithHas><Whitespace><Hs>|<PronounWithHave><Whitespace><Hv>

<Hs> ::= `has`|`hasn't`

<Hv> ::= `have`|`haven't`

<PronounWithHas> ::= `it`|`she`|`he`

<PronounWithHave> ::= `i`|`you`|`we`|`they`

<Noun> ::= <Adjective><Whitespace><NounWord>

<NounWord> ::= `hometask`|`dinner`|`writes`|`Alexey`|`Mikhail`|`Vadim`|`Dmitry`|`Sergey`|`Vladimir`|`Alexandr`|`man`|`woman`|`boy`|`girl`|`dad`|`mom`|`brother`|`sister`|`math`|`informatics`|`programming`|`physics`

<Adjective> ::= `cool`|`strong`|`clever`|`dark`|`large`

<VerbGroup> ::= <MarkerBeforeVerb><Whitespace><Verb>|<Verb><SpecialPostfix>

<SpecialPostfix> ::= <Empty>|<Whitespace><MarkerInTheEnd>

<MarkerBeforeVerb> ::= `ever`|`never`|`just`|`already`

<Verb> ::= `run`|`learnt`<Whitespace><Noun>|`did`<Whitespace><Noun>|`felt`<Whitespace><Adjective>

<Adjective> ::= `excellent`|`tired`|`happy`|`proud`

<Empty> ::= ``

<Whitespace> ::= ` `

<MarkerInTheEnd> ::= `yet`|`recently`|`lately`|`before`
